@{
    ViewData["Title"] = "Resorce Not Found";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info text-center">The Resource you are Looking for Could not be Found!</h1>
        <hr />
        <a asp-controller ="Movies" asp-action="Index" class="btn btn-outline-success">Back Home</a>
    </div>
</div>